body{

    background-color: #E7DFD8;
    margin: 0px;
    padding: 0px;
    font-family: "Inter",sans-serif ;
    color: #101010;
}

h2,p{
  margin: 0px;
  padding: 0px;
}

a{
 text-decoration: none;
 display: inline-block;

}

span {
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.container{
    width: 1119px;
   margin: 0px auto;
}


.maus{
   padding-top:99px ;
   padding-bottom:99px ;
}

.maus-container{
   display: flex;
justify-content: center;
gap: 107px;
}

.maus-subtitle{
  display: flex;
  gap: 30px;
  font-size: 19px;
  line-height: 36px;
  align-items: center;
  margin-bottom: 28px;

}

.maus-subtitle span{
    background-color: #B99FEA;
}

.maus-title{
    font-size: 35px;
   line-height: 45.63px;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing:1px ;
}

.maus-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22.08px;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px  #00000040;
}

.maus-link{
   padding-top:10px ;
   padding-right:20px ;
   padding-bottom:10px ;
   padding-left: 20px;
  background-color: #B99FEA;
  border-radius: 8px;
  line-height: 22.08px;
  font-size: 16px;
  letter-spacing: 0%;
  color: #000000;
}





.coco{
   padding-top:99px ;
   padding-bottom:99px ;
   display: flex;
   flex-direction: column;
}

.coco-container{
  display: flex;
    align-items: center;
    justify-content: space-between;
gap: 107px;
flex-direction: row-reverse;
}

.coco-subtitle{
  display: flex;
  gap: 30px;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 0px;
  align-items: center;
  margin-bottom: 28px;

}

.coco-subtitle span{
    background-color: #EBA789;
}

.coco-title{
    font-size: 30px;
   line-height: 45.63px;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing:1px ;
}

.coco-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22.08px;
    letter-spacing: 0%;
    ;
    
}
.coco-link{
   padding-top:10px ;
   padding-right:20px ;
   padding-bottom:10px ;
   padding-left: 20px;
  background-color: #EBA789;
  border-radius: 8px;
  line-height: 22.08px;
  font-size: 16px;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom:185px;
}



.vauna{
   padding-top:99px ;
   padding-bottom:99px ;
}

.vauna-container{
   display: flex;
justify-content: center;
gap: 107px;
}

.vauna-subtitle{
  display: flex;
  gap: 30px;
  font-size: 19px;
  line-height: 36px;
  align-items: center;
  margin-bottom: 28px;

}

.vauna-subtitle span{
    background-color: #96DBC6;
}

.vauna-title{
    font-size: 35px;
   line-height: 45.63px;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing:1px ;
}

.vauna-text{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22.08px;
    letter-spacing: 0%;
   
}

.vauna-link{
   padding-top:10px ;
   padding-right:20px ;
   padding-bottom:10px ;
   padding-left: 20px;
  background-color: #96DBC6;
  border-radius: 8px;
  line-height: 22.08px;
  font-size: 16px;
  letter-spacing: 0%;
  color: #000000;
}
